html,
body {
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #403f4c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  background-color: #fdfdfd;
}
html.in-transition,
body.in-transition {
  transition: transform 900ms ease;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1 {
  font-size: 1.95rem;
  font-weight: 600;
}
h3 {
  margin-bottom: 0.563rem;
  font-size: 1.25rem;
  color: #083D77;
}
p {
  line-height: 1.56rem;
}
p:first-of-type {
  margin-top: 0;
}
hr {
  margin: 1.95rem auto 3.05rem auto;
  width: 3.05rem;
  border: 0;
  border-top: 3px solid rgba(88, 107, 164, 0.3);
}
.body-section {
  padding: 3.8rem 0 3.8rem 0;
  background-color: #fdfdfd;
  text-align: center;
}
.body-section__title {
  font-size: 1.56rem;
}
.body-section__subtitle {
  margin: 0 auto;
  margin-top: .2rem;
  max-width: 550px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  opacity: 0.8;
}
.body-section__two-columns {
  display: flex;
  justify-content: center;
}
.body-section__column-text {
  text-align: center;
}
.body-section__column-text a {
  text-decoration: none;
}
.body-section__column-text a:hover {
  text-decoration: underline;
}
.body-section__column-image {
  width: 350px;
  margin-left: 3.8rem;
}
.body-section + .body-section {
  border-top: 1px solid #e6e6e6;
}
.body-section--blue {
  border-color: #e9ecf3 !important;
  background-color: #f6f7fa !important;
}
.body-section--blue + .body-section--blue {
  border-color: #e9ecf3 !important;
}
.drift-open-chat {
  cursor: pointer;
}
.hidden-lg {
  display: none !important;
}
.cta__button {
  display: inline-block;
  margin-top: 1.95rem;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #FF7A59;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all .15s ease;
  cursor: pointer;
}
.cta__button:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.12), 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #ff613a;
}
.cta__image {
  height: 20px;
  margin-right: 6px;
  vertical-align: top;
}
.cta__subtext {
  margin-top: 0.563rem;
  font-size: 0.75rem;
  text-align: center;
  opacity: 0.6;
}
.cta--pushed-down {
  margin-bottom: -18px;
}
.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo-section {
  text-align: left;
}
.nav__logo-subtext {
  font-size: 0.62rem;
  opacity: 0.55;
}
.nav__logo-image {
  width: 140px;
  text-align: left;
}
.nav__menu {
  margin: 0;
}
.nav__menu-item {
  display: inline-block;
  font-size: 1rem;
}
.nav__menu-item + .nav__menu-item {
  margin-left: 1.95rem;
}
.nav__menu-item-link {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
.nav__menu-item-link:hover {
  opacity: 1;
  text-decoration: underline;
}
.nav__menu-item-select {
  height: 26px;
  font-size: 0.75rem;
  opacity: 0.8;
  border: 0px;
}
.nav__menu-item-select:focus {
  outline: 0;
}
.hero {
  text-align: center;
  color: white;
  background-color: #083D77;
  background-image: url("../images/cover-sales.jpg");
  background-size: cover;
  height: 91vh;
  max-height: 700px;
  display: flex;
}
.hero__cover {
  background-color: rgba(8, 61, 119, 0.85);
  padding: 3.8rem;
  width: 100%;
  position: relative;
}
.hero__main {
  margin: 20vh auto 3.8rem auto;
  max-width: 700px;
  text-align: center;
  align-items: center;
}
.hero__subtitle {
  margin: 5px auto 0 auto;
  width: 75%;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.7;
}
.hero__arrow-down-container {
  position: absolute;
  bottom: 3.8rem;
}
.hero__arrow-down {
  display: block;
  width: 26px;
  margin-left: -13px;
  -webkit-animation-name: bob, bob;
  animation-name: bob, bob;
  -webkit-animation-duration: .375s, 1.425s;
  animation-duration: .375s, 1.425s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-delay: 0s, .225s;
  animation-delay: 0s, .225s;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.icon-section {
  margin-right: 0.75rem;
}
.icon-section__circle {
  display: flex;
  width: 1.95rem;
  height: 1.95rem;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  background-color: #083D77;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.icon-section__circle--center-big {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: calc(2.4375rem);
  height: calc(2.4375rem);
  font-size: 1rem;
}
.icon-section--center {
  margin: 0;
}
.benefits .mini-benefits {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1.56rem;
  display: flex;
  flex-wrap: wrap;
}
.benefits .mini-benefits .benefit {
  display: flex;
  width: calc(29.33333333%);
  margin-top: 1.56rem;
  text-align: left;
  padding: 0 2%;
}
.benefits .mini-benefits .benefit p {
  margin-top: 2%;
  opacity: 0.9;
  line-height: 1.4;
}
.benefits .mini-benefits .benefit p.avatar a {
  text-decoration: none;
}
.benefits .mini-benefits .benefit p.avatar a:hover {
  text-decoration: underline;
}
.three-steps {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}
.three-steps__item {
  width: 30%;
}
.three-steps__item-text {
  max-width: 280px;
  margin: 0 auto;
}
.three-steps__arrow-right {
  width: 5%;
  font-size: 1.56rem;
  color: #083D77;
}
.three-steps__illustration {
  height: 110px;
  margin-bottom: 1.95rem;
}
.three-steps--horizontal {
  display: flex;
  align-items: center;
}
.features {
  margin: 0 auto;
  margin-top: 3.05rem;
  width: 85%;
  max-width: 1200px;
  text-align: left;
}
.features__item {
  display: flex;
  justify-content: space-between;
}
.features__item + .features__item {
  margin-top: 10%;
}
.features__icon-and-text {
  padding: 0 2.5%;
  max-width: 45%;
  margin-top: 1.95rem;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}
.features__text {
  padding-top: 2px;
}
.features__image-container {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.features__image {
  width: 350px;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pricing {
  padding: 4.76rem inherit;
  margin: 0 auto;
  padding-bottom: 4.76rem;
  text-align: center;
  color: white;
  background-color: #083D77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234a5cf9' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.pricing__container {
  display: flex;
  margin-top: 3.05rem;
  justify-content: center;
}
.pricing__column {
  width: 300px;
  color: #403f4c;
  background-color: #f6f7fa !important;
  border-radius: 4px;
}
.pricing__column--green-top {
  border-top: 5px solid #aab4d1;
}
.pricing__column--orange-top {
  border-top: 5px solid #FF7A59;
}
.pricing__column + .pricing__column {
  margin-left: 1.95rem;
}
.pricing__target {
  padding: 0.75rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #586BA4;
  background-color: #eceff5 !important;
  border-bottom: 1px solid #e2e6f0 !important;
  opacity: 0.7;
}
.pricing__body {
  padding: 0 1.25rem;
  border-radius: 4px;
}
.pricing__price-section {
  height: 150px;
}
.pricing__price {
  font-size: 3.8rem;
  padding: 1.25rem 0 0 0;
}
.pricing__features {
  margin-left: 0;
  list-style-type: none;
  text-align: left;
  -webkit-padding-start: 0;
}
.pricing__features-item {
  opacity: 0.7;
}
.pricing__features-item + .pricing__features-item {
  margin-top: 0.563rem;
}
.pricing__checkmark {
  color: #7DDF64;
  margin-right: 5px;
}
footer {
  height: 55px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
  color: #403f4c;
  background-color: white;
}
footer a {
  text-decoration: none;
}
.collapsible {
  cursor: pointer;
}
.collapsible:hover {
  text-decoration: underline;
}
/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.opacity-50 {
  opacity: 0.5;
}
code {
  font-weight: bold;
  color: red;
}
@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.youtube-embed {
  position: relative;
  padding-bottom: 56.25%;
}
#blog-header .nav {
  background-color: #083D77;
  color: white;
  height: 54px;
  display: flex;
}
#blog-header .nav .nav-content {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
#blog-header .nav .logo {
  width: 110px;
  margin: 0 auto;
}
#blog-content {
  padding: 50px 20px;
  max-width: 650px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.84);
}
#blog-content img {
  margin-top: 20px;
  width: 100%;
}
#blog-content img.cover {
  width: 120%;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: calc(-10%);
}
#blog-content img.frame {
  box-shadow: 0 1px 2px 0 rgba(64, 63, 76, 0.3);
  border-radius: 2px;
  margin-top: 0px;
}
#blog-content .author {
  margin-top: 40px;
}
#blog-content .author a {
  color: rgba(0, 0, 0, 0.84);
  text-decoration: none;
}
#blog-content .author a:hover {
  text-decoration: underline;
}
#blog-content .author img {
  margin: 0 10px 0 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#blog-content .author .bio {
  opacity: 0.5;
}
#blog-content blockquote {
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
  font-size: 1.56rem;
  margin-top: 3.05rem;
  margin-bottom: 3.05rem;
}
#blog-content .table-of-contents a {
  color: #083D77;
  text-decoration: none;
}
#blog-content .table-of-contents a:hover {
  text-decoration: underline;
}
#blog-content h1 {
  font-size: 1.95rem;
}
#blog-content h2 {
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
  margin-top: 5px;
}
#blog-content h3 {
  margin-bottom: 0.563rem;
  font-size: 1.56rem;
  color: #083D77;
}
#blog-content p,
#blog-content ul,
#blog-content ol {
  font-family: Georgia, serif;
  font-size: calc(1.2rem);
  line-height: calc(1.9rem);
}
#blog-content p + ul,
#blog-content p + ol {
  margin-top: -5px;
  margin-bottom: 1.95rem;
}
#blog-content li + li {
  margin-top: 10px;
}
#blog-content hr {
  margin: 3.05rem auto 3.05rem auto;
}
#blog-content .framed-small-text {
  border: 2px solid #6f6d84;
  background-color: #f2f2f4;
  padding: 0.563rem 1.56rem;
}
#blog-content .framed-small-text p,
#blog-content .framed-small-text ul {
  font-size: 0.95rem;
}
#blog-content .framed-small-text li + li {
  margin-top: 0;
}
#blog-content .framed-small-text p + ul {
  margin-top: -10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1300px) {
  .step {
    width: 60% !important;
  }
}
@media only screen and (max-width: 768px) {
  .hidden-md {
    display: none !important;
  }
  .hidden-lg {
    display: block !important;
  }
  .hero {
    height: 100vh;
    background-position-x: 50%;
  }
  .hero__cover {
    padding: 8% !important;
  }
  .hero__arrow_down {
    margin-top: 1.95rem;
  }
  .hero__main {
    display: block;
  }
  .hero__main h1 {
    font-size: 1.56rem;
  }
  .hero__main h2 {
    width: 100%;
  }
  .hero__main .hero-center .hero-text {
    width: 100%;
  }
  .body-section {
    padding: 8%;
  }
  .body-section__two-columns {
    display: block;
  }
  .body-section__column-image {
    max-width: 100%;
    margin: 0;
  }
  .nav__logo-section {
    margin: 0 auto;
    margin-top: 0.75rem;
  }
  .nav__menu {
    display: none;
  }
  .three-steps {
    display: block;
  }
  .three-steps__item {
    width: 100%;
    margin-top: 1.95rem;
  }
  .icon-section__circle--center-big {
    margin-bottom: 0.75rem;
  }
  .features {
    width: 100%;
  }
  .features__item {
    display: block;
  }
  .features__icon-and-text {
    max-width: 100%;
  }
  .features__image {
    width: 90%;
  }
  .cta {
    width: 100%;
  }
  .cta__button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .cta__button:hover {
    transform: none;
  }
  .pricing__container {
    display: block;
  }
  .pricing__column {
    width: 100%;
  }
  .pricing__column + .pricing__column {
    margin: 0;
    margin-top: 3.05rem;
  }
  hr {
    margin: 1.95rem auto;
  }
}
